<p id="notice"><%= notice %></p>

    <head>
        <h1>SikeをクリアしたScore</h1>


        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <style>
            * { padding: 0; margin: 0; }
            canvas { background: #eee; display: block; margin: 0 auto; }
        </style>

        <canvas id="myCanvas" width="960" height="640"></canvas>

        <meta charset="utf-8" />
        <script src = "test.js"></script>

    </head>

    <body style="background-color:#D0D0D0;">

        <body onload="drawCanvas();"></body>"

    </body>


<h1>SikeをクリアしたScore</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Score</th>
      <th>CREATED_AT</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% rank_num = 1 %>
    <% @sike_clear_scores.each do |sike_clear_scores| %>
      <tr>
        <td><%= rank_num %></td>
        <td><%= sike_clear_scores.value %></td>
        <td><%= sike_clear_scores.created_at.in_time_zone('Tokyo') %></td>
        <% rank_num += 1 %>
      </tr>
    <% end %>
  </tbody>

</table>

<h1>SikeをクリアできなかったScore</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Score</th>
      <th>CREATED_AT</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% rank_num = 1 %>
    <% @sike_gameover_scores.each do |sike_gameover_scores| %>
      <tr>
        <td><%= rank_num %></td>
        <td><%= sike_gameover_scores.value %></td>
        <td><%= sike_gameover_scores.created_at.in_time_zone('Tokyo') %></td>
        <% rank_num += 1 %>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

