<p id="notice"><%= notice %></p>

<h1>SikeをクリアしたScore</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Score</th>
      <th>CREATED_AT</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% rank_num = 1 %>
    <% @sike_clear_scores.each do |sike_clear_scores| %>
      <tr>
        <td><%= rank_num %></td>
        <td><%= sike_clear_scores.value %></td>
        <td><%= sike_clear_scores.created_at.in_time_zone('Tokyo') %></td>
        <% rank_num += 1 %>
      </tr>
    <% end %>
  </tbody>

</table>

<h1>SikeをクリアできなかったScore</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Score</th>
      <th>CREATED_AT</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% rank_num = 1 %>
    <% @sike_gameover_scores.each do |sike_gameover_scores| %>
      <tr>
        <td><%= rank_num %></td>
        <td><%= sike_gameover_scores.value %></td>
        <td><%= sike_gameover_scores.created_at.in_time_zone('Tokyo') %></td>
        <% rank_num += 1 %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

